.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}